<div class="row mb-2">
    <div class="col-md-6 offset-md-6">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"><b>Recetas sin gluten</b></label>
        </div>

    </div>
</div><!-- Cierre row-->
<div class="row">
    <div class="col-md-6 offset-md-6">
        <input class="form-control" type="text" placeholder="Busca receta por nombre, cocinero o ingredientes">
    </div>

</div><!-- Cierre row-->

<div class="row">
    <!--Seccion lista-->
    <div class="col-md-4">
        <h5>Recetario</h5>

    </div>
    <!--Seccion detalle-->
    <div class="col-md-8">

    </div>
</div><!-- Cierre row-->