<h2>Busca un pokemon por su nombre</h2>
<div class="row">
    <div class="col">
        <div *ngIf="mensaje" class="{{tipo}}" role="alert">
            {{mensaje}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-m2-4">
        <div class="form-group">
            <input [(ngModel)]="pokemonBuscado" class="input-text" type="text" placeholder="introduce el nombre">
        </div>

        <input type="button" class="btn-primary btn-block" value="Buscar" (click)="buscarPokemon()">
    </div>
    <div class="col-md-8">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{pokemon.imagen}}" alt="imagen del pokemon {{pokemon.nombre}}">
            <div class="card-body">
                <h5 class="card-title">{{pokemon.id}} - {{pokemon.nombre}}</h5>
                <ul class="card-text">
                    <h5>Habilidades</h5>
                    <li *ngFor="let h of pokemon.habilidades">{{h}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>