.active{
    border-bottom:4px solid royalblue !important;
}
.bg-light{
    background-color:#00bcd46b !important;
}

.navbar-nav{
    display:inline-block;
    text-align: center;

}

.nav-item{
    display:inline-block;
    margin:3px;
}

.navbar-collapse{
    text-align:center;
}