body{
    background-image: url('src/assets/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
}
li{
    position:relative;

    span.titulo{

        font-weight: 500;
        margin-left:10px;
    }
    
    span.completada{
        text-decoration: line-through;
        font-weight: 100;
        color:#c5b7b78e(128, 122, 122);
    }

    input[type="checkbox"] {
        width: 30px;
        height: 39px;
        margin:10px;
        display:inline-block;
        position: absolute;
        top: -6px;
        left: 2px;
    }  

    input[type="text"] {
       display:inline-block;
       margin:10px;
       position: absolute;
       left: 40px;
       top: -6px;

       
    }    

    
}

.fondo{
    background-image: url('src/assets/checklist.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding:30px;
    border:1px solid 
}

.input-group-text{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    /* font-weight: 400; */
    line-height: 1.5;
    color: #007bff;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #007bff;
    border-radius: .25rem;
}


.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #ffffff94;
    border: 1px solid rgb(0, 123, 255);
}

.tituloTarea{
    text-align: center;
    width: 100%;
    text-decoration: underline;
    font-weight: 500;
}

.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
    border: 1px solid #007bff;

}

.input-group-append {
    display: inline-block;
}

.fa-trash-alt{
    float:right;
}

.alerta {
    padding: 10px;
    margin-bottom: 10px;

}

