<h1>SASS</h1>

<p>SASS es un precompilador de CSS y soporta dos formatos <code>.sass</code> y <code>.scss</code> y genera un
    <code>.css</code></p>

<p>Vamos a usar el formato <code>.scss</code> que es el más sencillo de aprender porque soporta que escribamos en
    <code>.css</code></p>

<p>Existen otros precompiladores como LESS y STYLUS</p>
<p><a href="https://sass-lang.com/" target="_blank">Documentación oficial</a></p>

<span class="borde10">10</span>
<br><br>
<span class="borde50">50</span>
<br>
<br>
<br>
<br>
<button class="boton-verde">Soy verde</button>
<button class="boton-rojo">Cancel</button>