h2{
    font-size:8em;
    color:orange;
    text-align:center;
}

.imagen-fondo{
    background: url("https://s5.gifyu.com/images/giphyec79af4592a9e7b6.gif") no- repeat center top;
    padding:100px;
}  
  